*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Welcome Page */

.welcome-container{
    width:600px;
    background:white;
    padding:50px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

.welcome-container h1{
    font-size:40px;
    color:#667eea;
    margin-bottom:20px;
}

.welcome-container p{
    margin-bottom:30px;
    color:#555;
    line-height:1.6;
}

.start-btn{
    padding:15px 35px;
    border:none;
    background:#667eea;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

.start-btn:hover{
    transform:scale(1.05);
}

/* Chat Page */

.chat-container{
    width:500px;
    height:700px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

.chat-header{
    background:#667eea;
    color:white;
    text-align:center;
    padding:20px;
    font-size:24px;
    font-weight:bold;
}

#chat-box{
    height:580px;
    overflow-y:auto;
    padding:20px;
}

.user-message{
    background:#667eea;
    color:white;
    padding:12px;
    border-radius:15px;
    margin:10px 0;
    width:fit-content;
    max-width:80%;
    margin-left:auto;
}

.bot-message{
    background:#f1f1f1;
    padding:12px;
    border-radius:15px;
    margin:10px 0;
    width:fit-content;
    max-width:80%;
}

.input-area{
    display:flex;
    border-top:1px solid #ddd;
}

.input-area input{
    flex:1;
    padding:18px;
    border:none;
    outline:none;
    font-size:16px;
}

.input-area button{
    width:120px;
    border:none;
    background:#667eea;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.input-area button:hover{
    background:#5563d6;
}