<!DOCTYPE html>
<html>
<head>

    <title>AI Chatbot</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="chat-container">

    <div class="chat-header">
        🤖 AI Chatbot
    </div>

    <div id="chat-box">

        <div class="bot-message">
            Hello! Ask me anything.
        </div>

    </div>

    <div class="input-area">

        <input
            type="text"
            id="user-input"
            placeholder="Type your message..."
            autocomplete="off">

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>